#fullTable {
    border-collapse: collapse;
    table-layout: fixed;
    background: #DBD7CB;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; 
   }
   
   * {
   margin: 0;
   padding: 0;
   }

   
   .time {
   font-family: Verdana;
   border: 1px;
   /*font-size:  20%;*/
   width: 80%;
   /*font-weight: NULL;*/
   text-align: center;
   background-color: transparent;
   border-color: #ce1913;
   }

   .but {
    font-family: Verdana;
    border: 1px;
    /*font-size:  20%;*/
    width: 20%;
    /*font-weight: NULL;*/
    text-align: center;
    background-color: transparent;
    border-color: #ce1913;


   }

tbody {
    display: table;
    border: 1px solid black;
    width: 100%;
    height: 90%;
}


th {
    font-family: Lato;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

td {
    text-align: center;
    font-family: Lato;
    transition: all 0.8s ease;
}


/*das ist neu */
td:hover{
    cursor: pointer;
    background-color: lightblue;
}


tr :first-child {
    font-size: 1.5em;
    font-weight: bold;

}


th {
    font-family: Lato;
    font-size: 2em;
    font-weight: bold;
}

#Planner {
    margin-left: 20%;
    margin-right: 20%;

}

select {
    width: 100%;
    height: 100%;
    padding: 3% 1%;
    border: none;
    border-radius: 4px;
    background-color: transparent;
  }
